In [1]:
#Imports
import numpy as np
import pandas as pd

In [2]:
#Load player dataframe
player = pd.read_csv('./lahman/player.csv')
player.head()

,player_id,birth_year,birth_month,birth_day,birth_country,birth_state,birth_city,death_year,death_month,death_day,...,name_last,name_given,weight,height,bats,throws,debut,final_game,retro_id,bbref_id
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [3]:
#Load batting dataframe
batting = pd.read_csv('./lahman/batting.csv')
batting.head()

,player_id,year,stint,team_id,league_id,g,ab,r,h,double,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,g_idp
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

In [4]:
player_batting = player.merge(batting, how='inner', on='player_id')
player_batting.head()

,player_id,birth_year,birth_month,birth_day,birth_country,birth_state,birth_city,death_year,death_month,death_day,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,g_idp
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# Add calculated field avg, slg
player_batting['avg'] = player_batting['h']/player_batting['ab']
player_batting['slg'] = (
    player_batting['h'] - player_batting['double'] - player_batting['triple'] - player_batting['hr']  # Singles
    + 2*player_batting['double'] 
    + 3*player_batting['triple'] 
    + 4*player_batting['hr']
) / player_batting['ab']

# Filtering Options

In [6]:
## Filter on the index, including LIKE
#mtrout01 = player_batting.filter(like='1', axis=0)

## Filter on column, exact str match
#mtrout01 = player_batting.loc[lambda df: df['player_id'] == 'aardsda01']

# Using str.contains
player_batting[player_batting['player_id'].str.contains('trout')]

,player_id,birth_year,birth_month,birth_day,birth_country,birth_state,birth_city,death_year,death_month,death_day,...,cs,bb,so,ibb,hbp,sh,sf,g_idp,avg,slg
92335,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,1.0,9.0,NaN,0.0,2.0,NaN,1.0,0.210526,0.280702
92336,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,2.0,9.0,NaN,0.0,0.0,NaN,1.0,0.129032,0.129032
92337,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,4.0,10.0,NaN,0.0,0.0,NaN,1.0,0.180000,0.240000
92338,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,4.0,16.0,NaN,0.0,4.0,NaN,1.0,0.213333,0.293333
92339,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,2.0,8.0,NaN,0.0,4.0,NaN,1.0,0.219780,0.307692
92340,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,9.0,28.0,NaN,0.0,2.0,NaN,2.0,0.270677,0.428571
92341,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,1.0,2.0,23.0,NaN,0.0,0.0,NaN,3.0,0.245098,0.372549
92342,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,1.0,4.0,34.0,NaN,0.0,4.0,NaN,1.0,0.194175,0.310680
92343,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,8.0,19.0,NaN,0.0,1.0,NaN,0.0,0.161765,0.352941
92344,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,5.0,14.0,NaN,0.0,2.0,NaN,2.0,0.217391,0.304348
92345,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,0.0,2.0,NaN,0.0,0.0,NaN,0.0,0.142857,0.357143
92346,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,6.0,20.0,NaN,0.0,3.0,NaN,2.0,0.190476,0.285714
92347,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,11.0,13.0,NaN,1.0,3.0,NaN,2.0,0.269231,0.346154
92348,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,0.0,3.0,NaN,0.0,1.0,NaN,0.0,0.333333,0.333333
92349,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,1.0,18.0,NaN,0.0,0.0,NaN,1.0,0.136364,0.204545
92350,troutdi01,1915.0,6.0,29.0,USA,IN,Sandcut,1972.0,2.0,28.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
92351,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,0.0,9.0,30.0,0.0,2.0,0.0,1.0,2.0,0.219512,0.390244
92352,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,5.0,67.0,139.0,4.0,6.0,0.0,7.0,7.0,0.325581,0.563506
92353,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,7.0,110.0,136.0,10.0,9.0,0.0,8.0,8.0,0.322581,0.556876
92354,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,2.0,83.0,184.0,6.0,10.0,0.0,10.0,6.0,0.287375,0.561462
92355,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,7.0,92.0,158.0,14.0,10.0,0.0,5.0,11.0,0.299130,0.589565
92356,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92357,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92358,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92359,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92360,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92361,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,0.0,2.0,20.0,0.0,0.0,8.0,0.0,0.0,0.193548,0.193548
92362,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,0.0,4.0,21.0,0.0,0.0,5.0,1.0,1.0,0.131148,0.131148
92363,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,0.0,2.0,13.0,0.0,0.0,9.0,0.0,0.0,0.108696,0.130435
92364,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,0.0,1.0,15.0,0.0,0.0,4.0,0.0,1.0,0.209302,0.232558
92365,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,0.0,0.0,9.0,0.0,0.0,3.0,0.0,1.0,0.153846,0.153846
92366,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92367,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92368,troutst01,1957.0,7.0,30.0,USA,MI,Detroit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Find Mike Trout

mtrout = player_batting[player_batting['player_id'].str.contains('trout')]
mtrout.sort_values('birth_year', ascending=False)

mtrout = player_batting.loc[lambda df: df['player_id'] == 'troutmi01']
mtrout

,player_id,birth_year,birth_month,birth_day,birth_country,birth_state,birth_city,death_year,death_month,death_day,...,cs,bb,so,ibb,hbp,sh,sf,g_idp,avg,slg
92351,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,0.0,9.0,30.0,0.0,2.0,0.0,1.0,2.0,0.219512,0.390244
92352,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,5.0,67.0,139.0,4.0,6.0,0.0,7.0,7.0,0.325581,0.563506
92353,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,7.0,110.0,136.0,10.0,9.0,0.0,8.0,8.0,0.322581,0.556876
92354,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,2.0,83.0,184.0,6.0,10.0,0.0,10.0,6.0,0.287375,0.561462
92355,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,7.0,92.0,158.0,14.0,10.0,0.0,5.0,11.0,0.299130,0.589565

In [8]:
# View traditional statistics

traditional = ['name_first', 'name_last', 'year', 'team_id', 'g', 'ab', 'r', 'h', 'hr', 'rbi', 'sb', 'bb', 'so', 'avg', 'slg']
mtrout[traditional].sort_values('year')

,name_first,name_last,year,team_id,g,ab,r,h,hr,rbi,sb,bb,so,avg,slg
92351,Mike,Trout,2011,LAA,40,123.0,20.0,27.0,5.0,16.0,4.0,9.0,30.0,0.219512,0.390244
92352,Mike,Trout,2012,LAA,139,559.0,129.0,182.0,30.0,83.0,49.0,67.0,139.0,0.325581,0.563506
92353,Mike,Trout,2013,LAA,157,589.0,109.0,190.0,27.0,97.0,33.0,110.0,136.0,0.322581,0.556876
92354,Mike,Trout,2014,LAA,157,602.0,115.0,173.0,36.0,111.0,16.0,83.0,184.0,0.287375,0.561462
92355,Mike,Trout,2015,LAA,159,575.0,104.0,172.0,41.0,90.0,11.0,92.0,158.0,0.299130,0.589565